.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.servicesTitle{
    position: relative;
    padding: 0px 30px;
    font-size: 40px;
}
.format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;  
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    position: relative; 
}
.containers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}
.format h3{
    font-size: 28px;
}
.format h2 {
    font-size: 32px;
    background: linear-gradient(267deg, #d6d01d 0.36%, #6059af 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.format p {
    color: #d4d4d4;
    font-size: 22px;
    line-height: 30px;
}
.servicesReadMore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.format:hover {
    border: 2px solid #520ae0;
    background-color: #000000;
    transform: scale(1.05);
    transition: 0.4s;
}
@media(max-width:768px){
    .services{
        align-items: center;
        gap: 70px;
        margin: 20px 70px;
    }
    .servicesTitle h1{
        padding: 0;
        font-size: 50px;
    }
    .containers{
        padding: 0px 60px;
    }
    .format {
        gap: 20px;
        padding: 32px;
        align-items: center;
    }
    .format h2{
        font-size: 28px;
    }
    .format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }
    .servicesReadMore span{
        width: 20px;
    }
}
@media(max-width:480px){
    .services{
        gap: 40px;
    }
    .servicesTitle{
        padding: 0px;
        text-align: center;
        width: 300px;
    }
    .containers{
        grid-template-columns: 1fr;
        padding: 0px 0px;
    }
    .format{
        width: 250px;
        align-items: center;
    }
}