*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
}
.about{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 80px;
   margin: 80px 170px; 
}
.aboutTitle{
    position: relative;
}
.aboutTitle h1{
    padding: 0px 30px;
    font-size: 80px;
}
.sections{
    display: flex;
    gap: 80px;   
}
.aboutRight{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.aboutPara{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    margin-bottom: 15px;
}
.skillsText{
    display: none;
}
.skillsContainer {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
    flex: 1; 
}
.skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.skill p {
    min-width: 150px;
    font-size: 24px;
}

.skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg, #a9a417 0.36%, #2d21b6 102.06%);
}

.skill:hover {
    transform: scale(1.05);
    transition: 0.4s;
}


.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34vh;
}
.cubeImg{
    width: 150px;
    height: 150px;
}
  
.cube-container {
    width: 300px;
    height: 300px;
    margin: 0px 140px;
    perspective: 1000px;
    transition: transform 0.3s ease-in-out; 
}

.cube-container:hover {
    transform: scale(1.3);
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 8s infinite linear;
}

.face {
    --french: linear-gradient(
        to right,
        #a9a417,
        #ffffff,
        #ffffff,
        #ffffff,
        #2d21b6
      )
      1;
    position: absolute;
    width: 300px;
    height: 300px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 300px;
    background: #000000cc;
    border: 2px solid;
    border-image: var(--french);
}

.front {
    transform: translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

@keyframes rotate {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@media(max-width:768px){
    .about{
        gap: 20px;
        margin: 50px 70px;
    }
    .skillsText{
        display: block;
        margin-top: 40px;
    }
    .aboutTitle h1{
        font-size: 50px;
        padding: 0;
        text-align: center;
    }
    .cube-container{
        margin-bottom: 100px;
        margin-right: 100px;
    }
    .sections{
        flex-direction: column;
        gap: 10px;
    }
    .aboutRight{
        gap: 10px;
    }
    .skills{
        align-items: start;
    }
    .aboutPara{
        font-size: 18px;
        line-height: 32px;
    }
    .aboutPara p{
        margin-left: 15px;
    }
    .skills{
        margin-bottom: 180px;
    }
    .skill{
        gap: 20px;
        align-items: center;
    }
    .skill p{
        font-size: 20px;
    }
    .skill hr{
        width: 10%;
    }
}
@media(max-width:480px){
    html{
        overflow-x: hidden;
    }
    .sections{
        width: 100vw;
    }
    .aboutPara p{   
        margin-left: 0px;
        text-align: center;
        font-size: 16px;
    }
    .cube{
        display: none;
    }
    .skillsContainer{
        gap: 0px;
        margin-left: 20px;
    }
    .skillsText{
        margin-left: 20px;
    }
    .skill{
        gap: 0px;
    }
    .skill hr{
        height: 10px;
        width: 180px;
    }
    .skills{
        margin-bottom: 20px;
    }
}