*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Space Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 363;
  font-style: normal;
  background-color: rgba(17, 17, 17, 0.938);
  color: rgb(255, 255, 255);
}