@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }       
}
.intro {
    position: relative; 
    align-items: center;
    gap: 35px;
    width: 100vw;
    min-height: 100vh;
    animation: popup 1s ease-out;
    overflow: hidden;
}

.intro::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/workoutBackground2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.22; 
    z-index: -1; 
}

.introHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.9);
    background: linear-gradient(127deg, #1a1a1a 0%, #000000 100%);
    height: 120px;
    z-index: 1;
}
.introHeader img{
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: -40px;
    margin-right: 70px;
    text-align: center;
    bottom: -57px;
}
.rightHeaderContainer{
    display: flex;  
    gap: 5px;
    margin-top: 35px;
}
.rightHeaderContainer span{
    margin-top: 13px;
}
.rightHeaderContainer p{
    margin-right: 30px;
}
.introHeader h1{
    padding-top: 30px;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(240, 240, 240, 0.7);  
}
.headerQuote{
    margin-top: 30px;
    width: 350px;
    font-family: "Kalam", cursive;
    font-weight: 500;
}
.introHeader p{
    padding: 10px 5px 30px 0px;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
    text-align: center;
}
.introJoinBtn{
    font-size: 20px;
    font-weight: 500;
    font-family: "Space Mono", monospace;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
    background: transparent;
    border: none;
    margin-bottom: 22px;
}
.introJoinBtn :hover{
    color: rgb(43, 86, 226);
    text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.7);
}

.workoutManImg img{
    height: 375px;
    width: 375px;
}
.workoutManImg {
    position: relative;
    animation: bob 2s infinite;
}

.workoutManImg:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: 87%;
    left: 47%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 1;
}
.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.introDescContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.introDescContainer p, .introDescContainer h1, .introDescContainer h3 {
    text-align: center;
}
.introContent{
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: space-around;
}
.loginScreen {
    display: flex;
    align-items: center;    
    flex-direction: column;
    width: auto;
    background-color: rgb(8, 7, 7);
    border-radius: 250px;
    padding: 10px 20px;
    margin-top: 80px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.7); 
}

.loginScreen h3{
    font-size: 20px;
}
.loginScreen h1{
    font-size: 30px;
    width: 90%;
    color: rgb(145, 219, 25);
}
.loginScreen p{
    font-size: 20px;
}

.introLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.introLoginBtn{
    font-family: "Space Mono", monospace;
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 0.5rem;
    border-bottom: 2px solid rgb(43, 86, 226);
    border-right: 2px solid rgb(43, 86, 226);
    border-top: 2px solid rgb(43, 86, 226);
    border-left: 2px solid rgb(43, 86, 226);
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right,
      box-shadow;
}

.introSignupBtn{
  padding: 1rem 2rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 0.5rem;
  border-bottom: 2px solid rgb(43, 86, 226);
  border-right: 2px solid rgb(43, 86, 226);
  border-top: 2px solid rgb(43, 86, 226);
  border-left: 2px solid rgb(43, 86, 226);
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
}

.introLoginBtn:hover{
    border-top: 2px solid rgb(43, 86, 226);
    border-left: 2px solid rgb(43, 86, 226);
    border-bottom: 2px solid rgb(43, 86, 226);
    border-right: 2px solid rgb(43, 86, 226)    ;
    box-shadow: rgb(43, 86, 226, 0.4) 5px 5px, rgb(43, 86, 226,0.4) 10px 10px,
      rgb(43, 86, 226, 0.4) 15px 15px;
}

.introSignupBtn:hover{
    border-top: 2px solid rgb(43, 86, 226);
    border-left: 2px solid rgb(43, 86, 226);
    border-bottom: 2px solid rgb(43, 86, 226);
    border-right: 2px solid rgb(43, 86, 226)    ;
    box-shadow: rgb(43, 86, 226, 0.4) 5px 5px, rgb(43, 86, 226,0.4) 10px 10px,
      rgb(43, 86, 226, 0.4) 15px 15px;
}

.linkLogin{
    text-decoration: none;
    color: rgb(43, 86, 226);
}

.linkSignin{
    text-decoration: none;
    color: rgb(43, 86, 226);
}

.linkJoin{
    text-decoration: none;
    color: white
}

@media screen and (max-width: 768px) {
    .introHeader h1 {
        font-size: 30px;
    }

    .introHeader img {
        width: 250px;
        height: 250px;
        bottom: -60px;
        margin-right: 10px;
    }

    .rightHeaderContainer{
        margin-bottom: 15px;
    }
    .rightHeaderContainer span{
        margin-top: 13px;
    }
    .headerQuote{
        margin-left: 10px;
    }
    .phoneNum{
        width: 185px;
        display: flex;
        margin: 0px;
    }
    .tooltip {
        font-size: 18px; 
        text-align: center;
        padding: 8px; 
        width: 500px; 
        white-space: normal; 
        left: 50%; 
        transform: translateX(-50%);
        bottom: 90%; 
    }

    .tooltip::after {
        border-width: 10px; 
    }
    .introJoinBtn {
        display: none;
    }

    .introContent {
        padding: 20px;
    }

    .loginScreen {
        margin-top: 110px;
    }

    .introLogin {
        gap: 10px;
    }

    .workoutManImg img {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .intro::before {
        opacity: 0.6;
    }
    .introHeader{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 55px;
    }

    .introHeader img {
        width: 120px;
        height: 120px;
        bottom: -40px;
        margin-right: 5px;
    }
    .headerQuote{
        width: 120px;  
        margin-left: 5px; 
        margin-bottom: 5px;
    }
    .rightHeaderContainer{
        margin-bottom: 15px;
    }
    .rightHeaderContainer span{
        margin-top: 12px;
        font-size: 12px;
    }

    .phoneNum{
        width: 95px;
        display: flex;
    }

    .introJoinBtn {
        display: none;
    }
    .introHeader p {
        font-size: 10px;
        margin-right: 0px;
    }
    .loginScreen{
        margin-top: 30px;
    }
    .workoutManImg img {
        height: 150px;
        width: 150px;
    }
    .tooltip {
        font-size: 9px; 
        padding: 8px; 
        width: 300px; 
        white-space: normal; 
        left: 50%; 
        transform: translateX(-50%);
        bottom: 85%; 
    }

    .tooltip::after {
        border-width: 10px; 
    }
    .loginScreen h1 {
        font-size: 22px;
    }
    .loginScreen h3 {
        font-size: 16px;
    }
    .loginScreen p {
        font-size: 14px;
    }

    .introLogin {
        flex-direction: column;
        gap: 15px;
    }

    .introLoginBtn, .introSignupBtn {
        padding: 0.5rem 1rem;
    }

    .introLoginBtn:hover, .introSignupBtn:hover {
        box-shadow: rgb(43, 86, 226, 0.4) 3px 3px, rgb(43, 86, 226,0.4) 6px 6px,
        rgb(43, 86, 226, 0.4) 9px 9px;
    }
}   